<div class="container-fluid my-2">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div id="welcome-card" class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Welcome to Pink Tank!</h5>
          <p class="card-text">Log in as...</p>
          <button
            id="admin-button"
            class="btn btn-primary"
            type="button">
            Admin
          </button>
          <button
            id="artist-button"
            class="btn btn-primary"
            type="button">
            Artist
          </button>
        </div>
      </div>

      <%= render partial: 'admin_card' %>
      <%= render partial: 'artist_card' %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'sessions' %>
