<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Forgot your password, <%= @artist.name %>?</h3>
    <p>
      It's cool. We've got you covered.
    </p>
    <p>
      Here's your reset password: <%= @temporary_password%>
    </p>
    <p>
      Please, remember to change it to something more memorable for yourself.
    </p>
  </body>
</html>
