<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Pink Tank, <%= @artist.name %>!</h3>
    <p>
      Here's your temporary password to get you started: <%= @temporary_password %>
    </p>
    <p>
      Click <a href="https://admin.pinktank.art" target="_blank">here</a> to sign in.
    </p>
    <p>
      And while you're here, check out what Sha and Norman have to say to you down below.
    </p>
  </body>
</html>
