<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Pink Tank, <%= @artist.name %>!</h3>
    <p>Here's your temporary password to get you started: <%= @temporary_password %></p>
    <p>You can check out our website <a href="https://pinktank.art" target="_blank">here</a>, and click <a href="https://admin.pinktank.art" target="_blank">here</a> to sign in to your profile.</p>
    <p>And while you're here, check out what Sha and Norman have to say to you down below.</p>
    <p><strong>-----------------</strong></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">Dearest Artists,</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">Firstly, I would like to thank you for your support and interest in joining our humble exhibition. I don&rsquo;t think I can repeat myself enough to have you be part of Pink Tank 2.0, Masa//Massa: Di Hujung Digital. This would not have been a reality without your participation.</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">As I&rsquo;ve mentioned before in previous emails, our exhibition will be taking place during such a bizarre period of our lives, but I would like to believe that our second exhibition is able to uplift your spirits and at the same time keep your creative juices flowing throughout this time as we&rsquo;re all adapting to the new norm.</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">We&rsquo;ve had many interesting conversations with all of you and have further understood you and your narrative as an artist and your headspace as a creative. Whether it be creating art as a form of engagement or even as a case study of how the world around you looks like. Inward, outward, we accept it as a whole.</span></p>
    <p style="text-align: justify;"><span style="font-weight: 400;">I look forward to seeing your thoughts, your process and your final piece being created and displayed in our space. Already, it has been a journey and such honour to get to know all of you.</span></p>
    <p style="text-align: center;"><strong>Welcome to Pink Tank 2.0, Masa//Massa: Di Hujung Digital<br /></strong><strong>A Digital Art Experience<br /></strong><strong>October - December 2021<br /></strong></p>
    <p><span style="font-weight: 400;">Sincerely,<br /></span><span style="font-weight: 400;">Sha x<br /></span><strong>Masa // Massa : Di Hujung Digital Art Exhibition<br /></strong><strong>P!NK TANK COLLECTIVE</strong></p>
    <p><a href="https://ibb.co/x63vM4q"><img src="https://i.ibb.co/gJ61DnZ/logo-pinktank-transparent.png" alt="logo-pinktank-transparent" width="135" height="90" border="0" /></a></p>
    <p><strong>-----------------</strong></p>
    <p><span style="font-weight: 400;">Hello everyone,</span></p>
    <p><span style="font-weight: 400;">It is with great pleasure to be part of the exhibition, participating as the Curator this time. And an even more pleasure to form a community in which we are able to support one another during this trying time. Through a unique perspective, everyone has produced so many wonderful ideas. They emerge new conversations which propel new experiences, for the audience to participate and understand throughout the exhibition.&nbsp;</span></p>
    <p><span style="font-weight: 400;">I hope the conversations and thought processes that have emerged so far will continue to grow. In each opportunity presented to share, it will always be a fruitful moment in which we can learn and understand new perspectives and understandings.&nbsp;</span></p>
    <p><span style="font-weight: 400;">Once again, I gratefully thank each and every one of you for participating in this exhibition, pushing forward new limitations in producing different forms of artwork. Breaking boundaries in your own self capabilities to grow out of your comfort zone, leaving new impressions for the audience to know and understand your ideals as an artist.&nbsp;&nbsp;</span></p>
    <p><span style="font-weight: 400;">Stay strong, be strong,<br /></span><span style="font-weight: 400;">Norman Hakim</span></p>
    <p><strong>Masa // Massa : Di Hujung Digital Art Exhibition<br /></strong><strong>P!NK TANK COLLECTIVE</strong></p>
    <p><strong><a href="https://ibb.co/x63vM4q"><img src="https://i.ibb.co/gJ61DnZ/logo-pinktank-transparent.png" alt="logo-pinktank-transparent" width="135" height="90" border="0" /></a></strong></p>
  </body>
</html>
