<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Pink Tank, <%= @artist.name %>!</h3>
    <p>
      Here's your temporary password to get you started: <%= @temporary_password %>
    </p>
    <p>
      See you soon! 
    </p>
  </body>
</html>
