<div class="container mt-2 mb-2">
  <h3>Artists</h3>
  <%= link_to "New Artist", new_artist_path %>
  <table class="table caption-top">
    <caption>List of artists</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <th><%= artist.id %></th>
          <td><%= link_to artist.name, artist_path(artist) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
