<div class="container mt-2 mb-2">
  <h5>Artists</h5>
  <%= link_to "New Artist", new_admin_artist_path %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @artists.each do |artist| %>
        <tr>
          <th><%= artist.id %></th>
          <td><%= link_to artist.name, admin_artist_path(artist) %></td>
          <td><%= link_to "Posts", admin_artist_posts_path(artist), class: "btn btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
