<div class="container mt-2 mb-2">
  <h3>Change <%= @user.name %>'s Password</h3>
  <%= form_with model: @user, method: :put do |form| %>
    <div class="row">
      <div class="col-4">
        <%= render partial: 'password_fields', locals: { form: form } %>
      </div>
    </div>
    <%= form.submit "Update Password", class: "btn btn-primary" %>
  <% end %>
</div>