<div class="container mt-2 mb-2">
  <h4>Exhibitions</h4>
  <%= link_to "New Exhibition", new_admin_exhibition_path, class: "btn btn-sm btn-primary" %>
  <div class="row mt-2 mb-2">
    <div class="col">
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @exhibitions.each do |exhibition| %>
            <tr>
              <th><%= exhibition.id %></th>
              <td><%= link_to exhibition.title, admin_exhibition_path(exhibition) %></td>
              <td><%= exhibition.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
