<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello,</p>

    <p>You have shown interest in the following artwork: </p>

    <table>
      <tr>
        <td><b>Title:</b></td>
        <td><%= @artwork.title %></td>
      </tr>
      <tr>
        <td><b>Artist:</b></td>
        <td><%= @artwork.artist.name %></td>
      </tr>
      <tr>
        <td><b>Price:</b></td>
        <td>RM <%= @artwork.price %></td>
      </tr>
    </table>

    <p>An invoice for the aforementioned artwork has been attached to this email.</p>
  </body>
</html>
