<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there, this is your invoice.</p>
 
    <embed
      src=<%= attachments['invoice.pdf'].url %>
      width="100%"
      height="100%"
      type="application/pdf">
  </body>
</html>
