<div class="container mt-2 mb-2">
  <h3><%= @artist.name%>'s Posts</h3>
  <table class="table caption-top">
    <caption>Posts</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <th><%= post.id %></th>
          <th><%= post.title %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
