<div class="form-group mt-1 mb-1">
  <%= form.label :password %>
  <%= form.password_field :password, class: "form-control" %>
</div>
<div class="form-group mt-1 mb-1">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, class: "form-control" %>
</div>
