<div class="container mt-2 mb-2">
  <h5>Users</h5>
  <%= link_to "New User", new_admin_user_path %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th><%= user.id %></th>
          <td><%= link_to "#{user.name}", admin_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
