<div class="container mt-2 mb-2">
  <h4>Users</h4>
  <%= link_to "New User", new_admin_user_path, class: "btn btn-sm btn-primary" %>
  <div class="row mt-2 mb-2">
    <div class="col-6">
      <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th><%= user.id %></th>
              <td><%= link_to "#{user.name}", admin_user_path(user) %></td>
              <th>
                <%= link_to "Reset password", reset_password_admin_user_path(user),
                    method: :put,
                    class: "btn btn-sm btn-primary mr-1" %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
