<div class="container mt-2 mb-2">
  <div class="row">
    <h4>
      <%= @user.name %>
      <% if current_user&.id == @user.id %>
        <%= link_to "Edit", edit_admin_user_path(@user) %>
      <% end %>
    </h4>
  </div>
  <div class="row">
    <div class="col-3">
      <table class="table table-sm table-borderless">
        <tbody>
          <tr>
            <th>E-mail</th>
            <td><%= @user.email %></td>
          </tr>
          <% if current_user&.id == @user.id %>
            <tr>
              <th>Password</th>
              <td><%= link_to "Change Password", edit_password_admin_user_path %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>