<div class="container mt-2 mb-2">
  <div class="row">
    <h5>
      <%= @user.name %>
      <%= link_to edit_admin_user_path(@user) do %>
        <% fa_icon "pencil" %>
      <% end %>
    </h5>
  </div>
  <div class="row">
    <div class="col-3">
      <table class="table">
        <tbody>
          <tr>
            <th>E-mail</th>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><%= link_to "Change Password", edit_password_admin_user_path %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>